<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>WebRing</title>
</head>

<body>
    <h1>WebRing</h1>
    <ul>
        <li><a href="/register">Add your site</a></li>
        <li><a href="/deregister">Remove your site</a></li>
        <li><a href="/widget">Add HTML widget to your homepage</a></li>
        <li><a href="/random">Random site</a></li>
        <li><a href="/ring">View entire ring</a></li>
    </ul>
</body>

</html>
