{% extends "page.jinja" %}

{% block title %}WebRing{% endblock %}

{% block content %}

<h1>WebRing</h1>
<table>
    <tr>
        <th>URL</th>
    </tr>
    {% for site in sites %}
    <tr>
        <td><a href="{{ site.url }}">{{ site.url }}</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
